[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is an unofficial memsource-cli-client project.
[access "refs/*"]
	owner = group user/Robin Černín (zerodayz)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Robin Černín (zerodayz)
	label-Verified = -1..+1 group user/Robin Černín (zerodayz)
	push = group user/Robin Černín (zerodayz)
	read = group user/Robin Černín (zerodayz)
	rebase = group user/Robin Černín (zerodayz)
	removeReviewer = group user/Robin Černín (zerodayz)
	submit = group user/Robin Černín (zerodayz)
[access "refs/heads/*"]
	create = group user/Robin Černín (zerodayz)
	push = +force group user/Robin Černín (zerodayz)
	pushMerge = group user/Robin Černín (zerodayz)
	read = group user/Robin Černín (zerodayz)
[access "refs/tags/*"]
	push = group user/Robin Černín (zerodayz)
	push = +force group user/Robin Černín (zerodayz)
